* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
/* 头部导航开始 */
.head {
    height: 30px;
    width: 100%;
    /* background-color: gray; */
    /* float: left;  */
    border-bottom: 1px solid rgb(182, 176, 176);
  }
  .headtop {
    /* width: 50px; */
    height: 30px;
    font-size: 13px;
    line-height: 30px;
    margin-left: 230px;
    display: inline-block;
  }
  .headimg > img {
    width: 10px;
    height: 10px;
  }
  .headimg {
    display: inline-block;
    line-height: 30px;
  }
  .headtext {
    color: gray;
    font-size: 13px;
    display: inline-block;
    margin-left: 20px;
    line-height: 30px;
  }
  .num {
    font-size: 12px;
    display: inline-block;
    line-height: 30px;
    color: red;
  }
  .lunbo1 {
    display: inline-block;
    /* float: left; */
    font-size: 12px;
    line-height: 30px;
  }
  .lunbo1 {
    width: 150px;
    height: 20px;
    overflow: hidden;
    color: blue;
    /* float: right; */
  }
  .phone > img {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    line-height: 30px;
  }
  .phone {
    display: inline-block;
    font-size: 13px;
    color: gray;
    height: 30px;
    margin-right: 20px;
    margin-left: 150px;
  }
  .headright {
    font-size: 13px;
    display: inline-block;
  }
  .headright > a {
    text-decoration: none;
    color: gray;
  }
  /* 头部导航结束 */

  nav .main {
    width: 1180px;
    height: 81px ;
    margin: 0 auto;

}
nav .main-img {
    width: 300px;
    padding-top: 30px;
    display: block;
}
nav .main-img .pc-show1 {
    width: 156px;
    height: 31px;
}
nav .main-img .pc-show2 {
    width: 97px;
    height: 31px;
    margin-left: 10px;
}
/* 右侧导航栏区域 */
nav  .main-guide {
    width: 680px;
    height: 81px;
    position: relative;
    top: -65px;
    right: -393px;
    display: flex;
    justify-content: space-between;
    line-height: 80px;
}
/* 盒子公共样式 */
nav .main-guide .main-drop {
    width: 136px;
    height: 80px;
    position: relative;

}
nav .main-guide .main-drop a {
    font-size: 18px;
    color: #333;
}
    /*图片公共样式*/
nav .main-guide .main-drop-img {
    width: 25px;
    height: 25px;
    position: relative;
    left: 0px;
    top: 6px;
    margin-top: -13px;
}
