* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
/* 头部导航开始 */
.head {
  height: 30px;
  width: 100%;
  /* background-color: gray; */
  /* float: left;  */
  border-bottom: 1px solid rgb(182, 176, 176);
}
.headtop {
  /* width: 50px; */
  height: 30px;
  font-size: 13px;
  line-height: 30px;
  margin-left: 230px;
  display: inline-block;
}
.headimg > img {
  width: 10px;
  height: 10px;
}
.headimg {
  display: inline-block;
  line-height: 30px;
}
.headtext {
  color: gray;
  font-size: 13px;
  display: inline-block;
  margin-left: 20px;
  line-height: 30px;
}
.num {
  font-size: 12px;
  display: inline-block;
  line-height: 30px;
  color: red;
}
.lunbo1 {
  display: inline-block;
  /* float: left; */
  font-size: 12px;
  line-height: 30px;
}
.lunbo1 {
  width: 150px;
  height: 20px;
  overflow: hidden;
  color: blue;
  /* float: right; */
}
.phone > img {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  line-height: 30px;
}
.phone {
  display: inline-block;
  font-size: 13px;
  color: gray;
  height: 30px;
  margin-right: 20px;
  margin-left: 150px;
}
.headright {
  font-size: 13px;
  display: inline-block;
}
.headright > a {
  text-decoration: none;
  color: gray;
}
/* 头部导航结束 */

nav .main {
  width: 1180px;
  height: 81px;
  margin: 0 auto;
}
nav .main-img {
  width: 300px;
  padding-top: 30px;
  display: block;
}
nav .main-img .pc-show1 {
  width: 156px;
  height: 31px;
}
nav .main-img .pc-show2 {
  width: 97px;
  height: 31px;
  margin-left: 10px;
}
/* 右侧导航栏区域 */
nav .main-guide {
  width: 680px;
  height: 81px;
  position: relative;
  top: -65px;
  right: -393px;
  display: flex;
  justify-content: space-between;
  line-height: 80px;
}
/* 盒子公共样式 */
nav .main-guide .main-drop {
  width: 136px;
  height: 80px;
  position: relative;
}
nav .main-guide .main-drop a {
  font-size: 18px;
  color: #333;
}
/*图片公共样式*/
nav .main-guide .main-drop-img {
  width: 25px;
  height: 25px;
  position: relative;
  left: 0px;
  top: 6px;
  margin-top: -13px;
}
.img-top {
  width: 100%;
  height: 250px;
}

/* 内容部分开始 */
.content {
  width: 100%;
  background-color: rgba(247, 242, 242, 0.842);
}
.content-child {
  width: 1200px;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 50px auto;
}
.box-column {
  width: 50%;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-around;
}
.box-row {
  width: 500px;
  height: 700px;
  /* border: 1px solid gray; */
  background-color: white;
  margin: 50px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-around;
}
.box-row img{
    width: 500px;;
    height: 300px;
    margin-bottom: 20px;
}
.box-row a{
    font-size: 20px;
    /* line-height: 60px; */
    color: black    
}
.box-row a:hover{
    color: blueviolet
}
.box-row-top{
    width: 100%;
    height: 50%;
  text-align: center
    
}
.box-row-bot{
    width: 440px;
    height: 360px;    
    padding: 30px;
    line-height: 20px;
}
.span-box{
    font-size: 12px;
    color: rgb(128, 125, 125)
}
.p-box{
    font-size: 11px;
    color: rgb(155, 151, 151);
    margin-top: 30px;
}
.box-row-bot a{
    width: 75px;
    height: 25px;
    display: inline-block;
    background-color: rgba(167, 160, 160, 0.685);
    font-size: 12px;
    border-radius: 3px;
    margin-top: 20px;
    text-align: center;
    margin-left: 5px;
    line-height: 25px
}
.box-row-b{
    width: 100%;
    height: 25%;
    text-align: center;
    line-height: 30px;
    margin-top: 40px;
}
.box-row-b span{
    font-size: 15px;
}
.box-row-b p{
    font-size: 13px;
    color: rgb(170, 165, 165);
    display: inline;
}
.box-row-c{
    width: 440px;
    height: 465px;    
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: space-around;
    /* border: 1px double gray; */
    padding: 30px;
}
.box-row-cc{
    width: 100%;
    height: 14.2%;
    border-bottom: 1px dashed gray;
}
.box-p{
    font-size: 14px;
    float: left;
    margin-top: 20px;
    margin-right: 180px;
}
.box-a{
    font-size: 14px!important;
    float: right;
    margin-top: 20px;
    margin-left: 20px;
    color: blueviolet!important;
}
.box-aa{
    display: block;
    width: 160px;
    height: 30px;
    background-color: rgb(230, 223, 223);
    margin-left: 150px;
    /* margin: 20px; */
    border-radius: 3%;
    text-align: center;
    line-height: 30px;
    font-size: 13px!important;
}
.box-row-aa{
    padding-top: 20px;
    border: none;
}
.gbk a{
    font-size: 14px;
    /* float: right; */
    /* margin-right: 10px; */
    color: blueviolet;
    margin-top: 20px;
}
/* 内容部分结束 */
/* 底部开始 */
.footer {
    width: 100%;
    height: 400px;
    background-color: #393c41;
    margin-top: 40px;
  }
  .footer-big {
    width: 900px;
    height: 100%;
    /* background-color: rgb(112, 110, 106); */
    margin: 0 auto;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .footer-middle {
    width: 100%;
    /* border: 1px solid white; */
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .footer-middle1 {
    height: 20%;
  }
  .footer-middle2 {
    height: 50%;
    /* text-align: center; */
  }
  .footer-middle3 {
    height: 30%;
  }
  .footer-top {
    width: 25%;
    height: 100%;
    /* border: 1px solid white;    */
  }
  .footer-top img {
    width: 40px;
    height: 40px;
    margin-top: 15px;
    float: left;
    color: white;
  }
  .footer-top span {
    margin-top: 13px;
    margin-left: 5px;
    float: left;
    color: rgba(255, 255, 255, 0.616);
  }
  .footer-middle2 div {
    /* border: 1px solid white; */
    height: 100%;
  }
  .footer-top1 {
    width: 15%;
  }
  .footer-top2 {
    width: 30%;
  }
  .footer-top3 {
    width: 15%;
  }
  .footer-top4 {
    width: 30%;
  }
  .footer-top5 {
    width: 15%;
  }
  .footer-top6 {
    width: 15%;
  }
  .footer-middle2 span{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.781);
  }
  .footer-middle2 p{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.781);
    line-height: 30px;   
  }
  .footer-top5 img{
    width: 80px;
    margin-top: 20px;
    height: 80px;
  }
  .footer-top6 img{
    width: 80px;
    margin-top: 39px;
    height: 80px;
  }
  .footer-middle3{
    display: block;
  }
  .footer-middle3 span{
    color: rgba(255, 255, 255, 0.76);
    font-size: 15px;
  }
  .footer-middle3-p{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.637);
  }
  /* 底部结束 */
  .right-QQ img{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 0 auto;
  }
  .right-qq{
    width: 100px;
    height: 150px;
    position: fixed;
    bottom: 200px;
    right: 0;
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.377);
    text-align: center;
    line-height: 38px;
  }
  .right-qq a img{
    width: 20px;
    height: 20px;
    line-height: 30px;
    /* display: inline-block; */
    float: left;
    margin-left: 10px;
    margin-top: 5px;
  }
  .right-qq-a{
    height: 30px;
    width: 100px;
    background-color: #12b7f5;
    display: block;
    line-height: 30px;
    font-size: 13px;
    color: white
  }